.deleteCommandItem {
	position: relative;
}

.deleteWrapper {
	position: relative;
	width: 100%;
}

.deleteCommandItem::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: inherit;
	background-color: #ffdbdc;
	clip-path: inset(0 100% 0 0);
	transition: clip-path 1s linear;
	z-index: 0;
}

.deleteBase {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	height: 100%;
	padding-inline: inherit;
	border-radius: inherit;
	font-size: 0.875rem;
	font-weight: 500;
	color: hsl(var(--muted-foreground));
}

.deleteOverlay {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding-inline: inherit;
	border-radius: inherit;
	color: #e5484d;
	clip-path: inset(0 100% 0 0);
	transition: clip-path 1s linear;
	pointer-events: none;
	z-index: 1;
}

.deleteCommandItem[data-holding="true"] .deleteOverlay,
.deleteCommandItem:active .deleteOverlay {
	clip-path: inset(0 0 0 0);
}

.deleteCommandItem[data-holding="true"]::before,
.deleteCommandItem:active::before {
	clip-path: inset(0 0 0 0);
}

.deleteIcon {
	height: 1rem;
	width: 1rem;
}
